<form class="set-new-password-form" method="POST" data-url="{{ obj.get_absolute_url_set_new_password }}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="modalDefaultLabel">Set new password</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            {% if form.errors %}
            <div class="col-xl-12 col-md-6 mb-4">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i>Oops! Form Error!</h4>
                    <p><strong>Please fix the error and try to save again!</strong></p>
                    <p>  {{ form.password1.errors }} </p>
                    <p>  {{ form.password2.errors }} </p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-6 mb-4"> 
                <div class="password-info">
                    <p><i class="far fa-check-circle"></i> The password must not be too short. It must contain at least 8 characters.</p>
                    <p><i class="far fa-check-circle"></i> The password must not be too common.</p>
                    <p><i class="far fa-check-circle"></i> The password must contain at least 1 digit, 0-9.</p>
                    <p><i class="far fa-check-circle"></i> The password must contain at least 1 uppercase letter, A-Z.</p>
                    <p><i class="far fa-check-circle"></i> The password must contain at least 1 symbol: ()[]{}|\`~!@#$%^&*_-+=;:"",<>./?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-6 mb-4"> 
                <div class="form-group">
                    <label>Password:</label>
                    {{ form.password1 }}
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-6 mb-4"> 
                <div class="form-group">
                    <label>Confirm Password:</label>
                    {{ form.password2 }}
                </div>
            </div>      
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-info" type="submit">Update</button> 
    </div>
</form>