{% extends 'base.html' %}
{% load static %}

{% block title %}
| Password Reset Done
{% endblock title%}
 
{% block additional_css %} 
<link rel="stylesheet" href="{% static 'css/registration/registration.css' %}">  
<link rel="stylesheet" href="{% static 'css/registration/forgot-password.css' %}"> 
 
{% endblock additional_css %} 


{% block body_block %} 
<div class="container">
    <div class="form-container">
        <h1>Reset password sent!</h1>
        
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
            your spam folder.</p>

        <a href="{% url 'login' %}"><i class="fas fa-arrow-left"></i> back to login</a>
    </div>
</div>

{% endblock body_block %}
  