{% extends 'base.html' %}
{% load static %}

{% block title %}
| Password Reset Confirm
{% endblock title%}
 
{% block additional_css %} 
<link rel="stylesheet" href="{% static 'css/registration/registration.css' %}"> 
<link rel="stylesheet" href="{% static 'css/registration/custom-alert-large.css' %}"> 
<link rel="stylesheet" href="{% static 'css/registration/password-reset-confirm.css' %}"> 
 
{% endblock additional_css %} 


{% block body_block %} 
<div class="container">
    <div class="form-container">

        <form method="POST">
            {% csrf_token %}
       
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
                <h4><i class="icon fa fa-ban"></i> Form Validation Error!</h4>  
                {{ form.new_password1.errors|striptags }}
                {{ form.new_password2.errors|striptags }} 
            </div>
            {% endif %} 

            <div class="form-body"> 
                {% if validlink %}
                    <h1>Enter your new password</h1>
                    <div class="password-info">
                        <p><i class="far fa-check-circle"></i> The password must not be too short. It must contain at least 8 characters.</p>
                        <p><i class="far fa-check-circle"></i> The password must not be too common.</p>
                        <p><i class="far fa-check-circle"></i> The password must contain at least 1 digit, 0-9.</p>
                        <p><i class="far fa-check-circle"></i> The password must contain at least 1 uppercase letter, A-Z.</p>
                        <p><i class="far fa-check-circle"></i> The password must contain at least 1 symbol: ()[]{}|\`~!@#$%^&*_-+=;:"",<>./?</p>
                    </div>
                    {{form.new_password1}}
                    {{form.new_password2}}
                    <button type="submit" class="btn submit"><i class="fas fa-save"></i> submit</button> 
                {% else %}
                    <h1>Invalid Token</h1>
                    <a href="{% url 'password_reset' %}">Request a new password reset token</a>
                {% endif %}
                
            </div>



        </form>
        
    </div>
</div>


{% endblock body_block %}

{% block additional_js %}  
<script src="{% static 'js/registration/registrations.js' %}"></script>
<script src="{% static 'js/registration/custom-alert.js' %}"></script>
<script>
    document.getElementById('id_new_password1').placeholder = "New Password"; 
    document.getElementById('id_new_password2').placeholder = "Confirm New Password";  
</script>
{% endblock additional_js %}