
.alert{
    position: relative;
    padding: 0 30px 0 10px; 
    font-size: 16px;
    text-transform: capitalize;  
    border-radius: 5px;  
    padding: 10px;
}

.alert h4{
    margin: 0 0 10px 0;
}

.alert h4 i{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #FFF;
    margin-right: 5px;
}

.alert button{
    position: absolute; 
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    font-weight: 800;
    font-size: 25px;
    border: none;
    background: none;
    color: #C450C1;
    cursor: pointer;
}


.alert-info{
    background: rgba( 204, 229, 255, 0.7);
    border: solid 1px #B8DAFF;
    color: #00408D;
}
 

.alert-danger{ 
    background: rgba(248, 215, 218, 0.7);
    border: solid 1px #F5C6CB;
    color: #721C24;
}

.alert-danger h4 i{
    background: #721C24;    
}