{% extends 'booking/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
| Services
{% endblock title%} 


{% block additional_css %}   
<style>
    textarea{
        max-height: 100px;
        min-height: 50px;
    } 
    .password-info{
        font-size: 15px;
        background: #F8F9FC;
        padding: 10px;
        border-radius: 5px;
    }
    .password-info i{
        color: #1CC88A;
    }
    .password-info p{
        margin: 0;
    }
</style>
{% endblock additional_css %} 

{% block nav_services %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'booking:services' %}">
        <i class="fas fa-car"></i>
        <span>Services</span></a>
</li>
{% endblock nav_services %} 
  
{% block body_block %} 
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Services Management</h1>
    <a id="create-service" href="{% url 'booking:create_service' %}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-car fa-sm text-white-50"></i> Add New Service</a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Services Table</h6>
    </div>
    <div class="card-body" > 
        <div class="table-horizontal-scroll">
            <table id="table-services" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">ID</th> 
                        <th class="text-center">Name</th> 
                        <th class="text-center">Vehicle Type</th> 
                        <th class="text-center">Price</th>  
                        <th class="text-center" style="width: 30%;">Description</th>
                        <th class="text-center">Duration</th> 
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in objs %}
                     <tr>
                         <td>{{ o.id }}</td> 
                         <td>{{ o.name }}</td>
                         <td>{{ o.vehicle_type }}</td>
                         <td>{{ o.price|intcomma }}</td>
                         <td>{{ o.desription }}</td>
                         <td>{{ o.duration }}</td> 
                         <td> 
                            <a href="{{ o.get_absolute_url }}" class="btn btn-warning btn-circle btn-sm edit">
                                <i class="fas fa-edit"></i>
                            </a> 
                            <a href="{{ o.get_absolute_url_set_delete }}" class="btn btn-danger btn-circle btn-sm delete">
                                <i class="fas fa-user-minus"></i>
                            </a>
                         </td>
                     </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div> 
    </div>
</div>
 

{% endblock body_block %}

{% block additional_js %} 
<script src="{% static 'js/getcookies.js' %}"></script>
<script src="{% static 'js/bookings/services/services.js' %}"></script>
{% endblock additional_js %}